/* Override Seven's vertical-tabs.css settings */
/* -- We want sub-fieldsets to look like fieldsets */
div.vertical-tabs fieldset fieldset {
  border: 1px solid #CCCCCC;
  margin: 1em 0;
  padding: 2.5em 0 0;
}

/* -- Since we want to show sub-fieldsets, we probably should show the legend as well */
div.vertical-tabs .vertical-tabs-panes fieldset fieldset legend {
  display: block;
}

/* -- Changing the color of the active vertical tab link text */
div.vertical-tabs ul li.selected a {
  color: #000;
}

/* -- Why have an underline when a vertical tab is clicked? I don't get it... */
div.vertical-tabs ul li.selected a:focus strong {
  text-decoration: none;
}

/* Provide some visual assistance when hovering over tables */
table tr:hover td {
  background-color: #DDD;
}

table#permissions td.module {
  background-color: inherit;
}

/* Logout Link */
#logout-link {
  position: absolute;
  right: 25px;
  top: 5px;
  font-size: 12px;
}


/* Pager */
ul.pager li {
  background-color: #EEE;
  border: 1px solid #999 !important;
}

ul.pager li a {
  padding: 0 5px;
}

ul.pager li.pager-current {
  padding: 0 5px;
  font-size: 1.2em;
}


/* Views Bulk Operations override */
#views-bulk-operations-dropdown .form-item {
  padding: 15px 10px 0 0;
}

.view-content-manager .views-field-view-node,
.view-user-manager .views-field-edit-node {
  width: 150px;
}

.view-content-manager .views-field-view-node a,
.view-user-manager .views-field-edit-node a {
  margin: 0 15px 0 0;
}

.view th.select-all {
  width: 13px;
}

.view th.views-field-status {
  width: 80px;
}

.view th.views-field-type {
  width: 100px;
}

/* The "sticky" quickbar menu covers sticky headers on tables, let's correct that */
body.quickbar-sticky table.sticky-header {
  top: 30px !important;
}

/* Styling for modules page with module_filter.module enabled */
#module-filter-squeeze {
  padding: 0 25px;
}

#module-filter-squeeze table td.checkbox {
  border-left: 1px solid #BEBFB9;
}
